.right-diagnosis{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    position: relative;
}

.chatbox{
    width: calc(100% - 920px);
    height: 98%;
    border-radius: 20px;
    background-color: white;
    border: 0.5px solid var(--border);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    overflow: hidden;
}

.chatbox__send{
    width: 100%;
    height: 138px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 0.5px solid var(--border);
}

.chatbox__send--input{
    width: 100%;
    height: calc(100% - 35px);
    display: flex;
    flex-direction: column;
    padding: 10px 0px 10px 10px;
    overflow: auto;
}

.chatbox__send--text-input::-webkit-scrollbar {
    width: 2px;
}

.chatbox__send--text-input::-webkit-scrollbar-thumb {
    background-color: var(--theme-background-green);
    border-radius: 4px;
}

.chatbox__send--text-input{
    border: none;
    resize: none;
    height: 100%;
    overflow: auto;
    padding-right: 10px;
    background-color: transparent;
    outline: none;
}

.chatbox__send--func{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35px;
    border-top: 0.5px solid var(--border);
    align-items: center;
    justify-content: space-between;
}

.chatbox__send--advance{
    display: flex;
    flex-direction: row;
    width: calc(100% - 60px);
    height: 100%;
    padding-left: 10px;
    gap: 15px;
}

.chatbox__send--advance-position{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    width: fit-content;
    font-size: 13px;
    gap: 3px;
    color: var(--color-icon);
}

.button-on-off {
    position: relative;
    height: 14px;
    min-height: 14px;
    width: 22px;
    min-width: 22px;
    background-color: var(--theme-off-button);
    border-radius: 7px;
    display: flex; /* Use flexbox */
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.circle-on-off {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    left: 1px;
}

#on {
    background-color: var(--green-light);
}

#on-circle {
    left: 9px;
}


.chatbox__send--button{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
}

.chatbox__send--button .icon--element{
    width: 20px;
    height: 20px;
    color: var(--geen-deep);
}

.icon-advance{
    width: 20px;
    height: 20px;
    color: #00790C;
}

.chatbox__send--button .icon--element:hover{
    color: var(--green-light);
}


.acne-detection{
    width: 890px;
    height: 98%;
}

.button-close-open-chat{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 98%;
}

.chat-close__btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 20px;
    height: 30px;
    background-color: var(--theme-background-green);
    border-radius: 10rem 0 0 10rem;
}

.chat-open__btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 20px;
    height: 30px;
    background-color: var(--theme-background-green);
    border-radius: 0 20rem 20rem 0;
}

.button-close-open-chat__close{
    position: absolute;
    left: 0;
}

.button-close-open-chat button{
    border: none;
    cursor: pointer;
}

/* Message */
.chatbox__message{
    margin-top: 20px;
    width: 100%;
    height: calc(100% - 138px);
    overflow-y: auto;
}

.chatbox__message::-webkit-scrollbar {
    width: 2px;
}

.chatbox__message::-webkit-scrollbar-thumb {
    background-color: var(--theme-background-green);
    border-radius: 4px;
}

.chatbox__message--user{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: 7px;
}

.chatbox__message--user .message{
    max-width: 85%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--background-grey);
    color: black;
    font-weight: 400;
    line-height: 20px;
}

.chatbox__message--bot{
    margin: 7px;
}

.chatbox__message--bot-info{
    height: 28px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    margin-bottom: 10px;
}

.chatbox__message--bot-avatar{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/logo/logoFace2.png);
    background-size: cover;
}

.chatbox__message--bot-name{
    font-weight: 600;
    color: black;
}

.chatbox__message--bot-tag{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 0 8px 0 8px;
    height: 14px;
    background-color: var(--theme-background-tag);
    font-weight:400;
    font-size: 11px;
    border-radius: 10px;
    color: var(--green-deep);
}

.chatbox__message--message{
    line-height: 1.6; 
}

.chatbox__message--mes{
    padding: 0 10px 10px 10px;
}

.chatbox__message--mes h3 {
    margin-top: 10px;;
    margin-bottom: 10px; 
}

.chatbox__message--mes p {
    margin-bottom: 15px; 
}

.chatbox__message--mes ol {
    list-style-type: decimal;
    list-style-position: inside; 
}

.chatbox__message--mes ul {
    list-style-type: disc; 
    padding-left: 20px; 
}

.chatbox__message--mes li {
    margin-bottom: 10px; 
}

.display-hidden{
    display: none;
}



.icon--element-arrow{
    width: 20px;
    height: 20px;
    color: var(--color-icon);
}





