.acne__detection--tool-input-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
    width: 164px;
    background-color: var(--theme-background-green);
    border-radius: 20px;
    color: var(--color-icon-green);
    font-weight: 200;
}

.acne__detection--tool-input-image:hover {
    transform: scale(1.01);
}

.acne__detection--tool-input-image:active {
    transform: scale(1);
}

.acne__detection--tool-image-tool-scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: calc(100% - 389px);
    padding: 0 7px 0 7px;
}

.acne__detection--tool-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;

}

.acne__detection--tool-image {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 113px;
    border-radius: 10px;

}




/* logo mode */

.acne__detection--tool-model-logo-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: calc(100% - 650px);
    height: 100%;
}


.acne__detection--tool-model-logo {
    width: 100%;
    height: 100%;
    background-image: url(../../assets/logo/lowypa1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

